on:
  pull_request:
  workflow_dispatch:


permissions:
  # Require write permission to Fetch an OIDC token (required for federated credential) and write it
  # It will be automatically used on actions / cli that needs it
  id-token: write

env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}
jobs: 
 frontend_ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Run lint
        run: npm run lint

 backend_ci:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Build backend (Release)
        run: dotnet build -c Release
        working-directory: ./backend